<div class="row unconvential-benifits">
  <div class="col col-12 col-md-6">
    <h3 class="text-center">Our <span>unconventional</span> benefits</h3>
    <ol>
      <li>
        <h6>Flexibility at your fingertips</h6>
        <p>With options to choose amongst - duration, kind of space, pass kind - we offer you a totally customized
          experience, so you get exactly what you’re looking for.</p>
      </li>
      <li>
        <h6>Competitive prices you can’t resist</h6>
      </li>
      <li>
        <h6>Ready support when you need it</h6>
      </li>
      <li>
        <h6>Avail of discounts and promotions on events, softwares, services and more</h6>
      </li>
    </ol>
  </div>
  <div class="col col-12 col-md-6">
    <img src="../../../../assets/images/Rectangle 31.png" alt="">
  </div>
</div>
