<div class="row unconvential-benifits">
  <div class="col col-12 col-md-6">
    <h1>Our <span>unconventional</span> benefits</h1>
    <ul>
      <li>
        <div class="count">1.</div>
        <h4>Flexibility at your fingertips</h4>
        <p>With options to choose amongst - duration, kind of space, pass kind - we offer you a totally customized
          experience, so you get exactly what you’re looking for.</p>
      </li>
      <li>
        <div class="count">2.</div>
        <h4>Competitive prices you can’t resist</h4>
      </li>
      <li>
        <div class="count">3.</div>
        <h4>Ready support when you need it</h4>
      </li>
      <li>
        <div class="count">4.</div>
        <h4>Avail of discounts and promotions on events, softwares, services and more</h4>
      </li>
    </ul>
  </div>
  <div class="col col-12 col-md-6 text-center">
    <img src="../../../../assets/images/Rectangle 31.png" alt="">
  </div>
</div>
