<div class="container workspace-list mt-4">
  <div class="row workspace">
    <div class="col col-12 col-md-4">
      <div class="highlight-number">
        <h4> <img src="../../../assets/images/Metrics.png" alt=""> 330 people <span>worked here</span></h4>
      </div>
      <img class="main-image" src="../../../assets/images/Rectangle 43.png" alt="">
      <img class="crousel-img" src="../../../assets/images/Rectangle 45.png" alt="">
      <img class="crousel-img" src="../../../assets/images/Rectangle 46.png" alt="">
      <img class="crousel-img" src="../../../assets/images/Rectangle 47.png" alt="">
      <div class="more-imgs">
        <img class="crousel-img" src="../../../assets/images/Rectangle 44.png" alt="">
        <span>
          <h2>+13</h2><span>MORE</span>
        </span>
      </div>
    </div>
    <div class="col col-12 col-md-8">
      <img src="../../../assets/images/Stylesafe.png" alt="">
      <h2 class="mt-3">SW Golf Course Road</h2>
      <div class="row contact-details">
        <div class="col col-12 col-md-8">
          <p>Vyapar Kendra Road, Sector 40, Gurugram</p>
          <p>Sec 54 Rapid Metro <b>(2 kms)</b></p>
        </div>
        <div class="col col-12 col-md-4">
          <span>08:00 - 20:00 </span>
          <p>Mon - Sat</p>
        </div>
      </div>
      <div class="row contact-details">
        <div class="col col-3 col-md-3">
          <img src="../../../assets/images/Printer.png" alt="">
          <p class="mt-3">Printer/Scanner</p>
        </div>
        <div class="col col-3 col-md-3">
          <img src="../../../assets/images/Reception.png" alt="">
          <p class="mt-3">Reception</p>
        </div>
        <div class="col col-3 col-md-3">
          <img src="../../../assets/images/Wifi.png" alt="">
          <p class="mt-3">High-speed Wifi</p>
        </div>
        <div class="col col-3 col-md-3">
          <button class="btn btn-secondary more-amenities">5+ More</button>
        </div>
      </div>
      <div class="row contact-details">
        <div class="col col-3 col-md-4">
          <div class="price">
            <p>Desks from</p>
            <h2>₹6000/</h2><span>month</span>
          </div>
        </div>
        <div class="col col-3 col-md-4">
          <div class="price">
            <p>Cabin from</p>
            <h2>₹12000/</h2><span>month</span>
          </div>
        </div>
        <div class="col col-3 col-md-4">
          <button class="btn btn-primary visit-page">Visit the space</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row workspace">
    <div class="col col-12 col-md-4">
      <div class="highlight-number">
        <h4> <img src="../../../assets/images/Metrics.png" alt=""> 330 people <span>worked here</span></h4>
      </div>
      <img class="main-image" src="../../../assets/images/Rectangle 43.png" alt="">
      <img class="crousel-img" src="../../../assets/images/Rectangle 45.png" alt="">
      <img class="crousel-img" src="../../../assets/images/Rectangle 46.png" alt="">
      <img class="crousel-img" src="../../../assets/images/Rectangle 47.png" alt="">
      <div class="more-imgs">
        <img class="crousel-img" src="../../../assets/images/Rectangle 44.png" alt="">
        <span>
          <h2>+13</h2><span>MORE</span>
        </span>
      </div>
    </div>
    <div class="col col-12 col-md-8">
      <img src="../../../assets/images/Stylesafe.png" alt="">
      <h2 class="mt-3">SW Golf Course Road</h2>
      <div class="row contact-details">
        <div class="col col-12 col-md-8">
          <p>Vyapar Kendra Road, Sector 40, Gurugram</p>
          <p>Sec 54 Rapid Metro <b>(2 kms)</b></p>
        </div>
        <div class="col col-12 col-md-4">
          <span>08:00 - 20:00 </span>
          <p>Mon - Sat</p>
        </div>
      </div>
      <div class="row contact-details">
        <div class="col col-3 col-md-3">
          <img src="../../../assets/images/Printer.png" alt="">
          <p class="mt-3">Printer/Scanner</p>
        </div>
        <div class="col col-3 col-md-3">
          <img src="../../../assets/images/Reception.png" alt="">
          <p class="mt-3">Reception</p>
        </div>
        <div class="col col-3 col-md-3">
          <img src="../../../assets/images/Wifi.png" alt="">
          <p class="mt-3">High-speed Wifi</p>
        </div>
        <div class="col col-3 col-md-3">
          <button class="btn btn-secondary more-amenities">5+ More</button>
        </div>
      </div>
      <div class="row contact-details">
        <div class="col col-3 col-md-4">
          <div class="price">
            <p>Desks from</p>
            <h2>₹6000/</h2><span>month</span>
          </div>
        </div>
        <div class="col col-3 col-md-4">
          <div class="price">
            <p>Cabin from</p>
            <h2>₹12000/</h2><span>month</span>
          </div>
        </div>
        <div class="col col-3 col-md-4">
          <button class="btn btn-primary visit-page">Visit the space</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row workspace">
    <div class="col col-12 col-md-4">
      <div class="highlight-number">
        <h4> <img src="../../../assets/images/Metrics.png" alt=""> 330 people <span>worked here</span></h4>
      </div>
      <img class="main-image" src="../../../assets/images/Rectangle 43.png" alt="">
      <img class="crousel-img" src="../../../assets/images/Rectangle 45.png" alt="">
      <img class="crousel-img" src="../../../assets/images/Rectangle 46.png" alt="">
      <img class="crousel-img" src="../../../assets/images/Rectangle 47.png" alt="">
      <div class="more-imgs">
        <img class="crousel-img" src="../../../assets/images/Rectangle 44.png" alt="">
        <span>
          <h2>+13</h2><span>MORE</span>
        </span>
      </div>
    </div>
    <div class="col col-12 col-md-8">
      <img src="../../../assets/images/Stylesafe.png" alt="">
      <h2 class="mt-3">SW Golf Course Road</h2>
      <div class="row contact-details">
        <div class="col col-12 col-md-8">
          <p>Vyapar Kendra Road, Sector 40, Gurugram</p>
          <p>Sec 54 Rapid Metro <b>(2 kms)</b></p>
        </div>
        <div class="col col-12 col-md-4">
          <span>08:00 - 20:00 </span>
          <p>Mon - Sat</p>
        </div>
      </div>
      <div class="row contact-details">
        <div class="col col-3 col-md-3">
          <img src="../../../assets/images/Printer.png" alt="">
          <p class="mt-3">Printer/Scanner</p>
        </div>
        <div class="col col-3 col-md-3">
          <img src="../../../assets/images/Reception.png" alt="">
          <p class="mt-3">Reception</p>
        </div>
        <div class="col col-3 col-md-3">
          <img src="../../../assets/images/Wifi.png" alt="">
          <p class="mt-3">High-speed Wifi</p>
        </div>
        <div class="col col-3 col-md-3">
          <button class="btn btn-secondary more-amenities">5+ More</button>
        </div>
      </div>
      <div class="row contact-details">
        <div class="col col-3 col-md-4">
          <div class="price">
            <p>Desks from</p>
            <h2>₹6000/</h2><span>month</span>
          </div>
        </div>
        <div class="col col-3 col-md-4">
          <div class="price">
            <p>Cabin from</p>
            <h2>₹12000/</h2><span>month</span>
          </div>
        </div>
        <div class="col col-3 col-md-4">
          <button class="btn btn-primary visit-page">Visit the space</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row workspace">
    <div class="col col-12 col-md-4">
      <div class="highlight-number">
        <h4> <img src="../../../assets/images/Metrics.png" alt=""> 330 people <span>worked here</span></h4>
      </div>
      <img class="main-image" src="../../../assets/images/Rectangle 43.png" alt="">
      <img class="crousel-img" src="../../../assets/images/Rectangle 45.png" alt="">
      <img class="crousel-img" src="../../../assets/images/Rectangle 46.png" alt="">
      <img class="crousel-img" src="../../../assets/images/Rectangle 47.png" alt="">
      <div class="more-imgs">
        <img class="crousel-img" src="../../../assets/images/Rectangle 44.png" alt="">
        <span>
          <h2>+13</h2><span>MORE</span>
        </span>
      </div>
    </div>
    <div class="col col-12 col-md-8">
      <img src="../../../assets/images/Stylesafe.png" alt="">
      <h2 class="mt-3">SW Golf Course Road</h2>
      <div class="row contact-details">
        <div class="col col-12 col-md-8">
          <p>Vyapar Kendra Road, Sector 40, Gurugram</p>
          <p>Sec 54 Rapid Metro <b>(2 kms)</b></p>
        </div>
        <div class="col col-12 col-md-4">
          <span>08:00 - 20:00 </span>
          <p>Mon - Sat</p>
        </div>
      </div>
      <div class="row contact-details">
        <div class="col col-3 col-md-3">
          <img src="../../../assets/images/Printer.png" alt="">
          <p class="mt-3">Printer/Scanner</p>
        </div>
        <div class="col col-3 col-md-3">
          <img src="../../../assets/images/Reception.png" alt="">
          <p class="mt-3">Reception</p>
        </div>
        <div class="col col-3 col-md-3">
          <img src="../../../assets/images/Wifi.png" alt="">
          <p class="mt-3">High-speed Wifi</p>
        </div>
        <div class="col col-3 col-md-3">
          <button class="btn btn-secondary more-amenities">5+ More</button>
        </div>
      </div>
      <div class="row contact-details">
        <div class="col col-3 col-md-4">
          <div class="price">
            <p>Desks from</p>
            <h2>₹6000/</h2><span>month</span>
          </div>
        </div>
        <div class="col col-3 col-md-4">
          <div class="price">
            <p>Cabin from</p>
            <h2>₹12000/</h2><span>month</span>
          </div>
        </div>
        <div class="col col-3 col-md-4">
          <button class="btn btn-primary visit-page">Visit the space</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-12 text-center mt-4">
    <button class="btn btn-secondary more-amenities">View All ></button>
  </div>
</div>
