.footer  {
  background: url('../../../../assets/images/blur-02.png');
  background-size: cover;
  min-height: 2000px;
  color: #fff;
  padding-top: 50px;
  margin-top: 100px;
  h1 {
    margin-top: 400px;
  }
}
#progress-circle-border {
  margin-top: 400px;
  width: 500px;
  height: 500px;
  border: 3px solid #737373;
  border-radius: 50%;
  position: absolute;
  transform: rotate(
    45deg
    );
    left: 49%;
}
.percentage-25 {
  border-top: 3px solid !important;
}
.percentage-50 {
  border-top: 3px solid !important;
  border-right: 3px solid !important;
}
.percentage-75 {
  border-top: 3px solid !important;
  border-right: 3px solid !important;
  border-bottom: 3px solid !important;
}
.percentage-100 {
  border-top: 3px solid !important;
  border-right: 3px solid !important;
  border-bottom: 3px solid !important;
  border-left: 3px solid !important;
}
.progress-circle {
  position: relative;
  margin-top: 400px;
  width: 500px;
  height: 500px;
  left: 25%;
}
.testimonials {
  p {
  position: absolute;
  top: 35%;
  width: 75%;
  left: 14%;
  color: #EDEFF3;
  font-weight: 100;
  font-family: Manrope;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 26px;

  }
  h4 {
    margin: 0;
    left: 40%;
    position: absolute;
    top: -50px;

  }
  h6 {
    margin: 0;
    left: 40%;
    position: absolute;
    top: -30px;

  }
}
.testimonial-2 {
  h4 {
  position: absolute !important;
  top: 45% !important;
  right: -20% !important;
  text-align: right;
  color: #737373;
  }
  h6 {
    position: absolute !important;
    top: 48% !important;
    right: -20% !important;
    text-align: right;
    color: #737373;
  }
}
.testimonial-3 {
  h4 {
  position: absolute !important;
  top: 102%;
  vertical-align: bottom;
  color: #737373;
  }
  h6 {
    position: absolute !important;
    top: 105%;
    vertical-align: bottom;
    color: #737373;
  }
}
.testimonial-4 {
  h4 {
  position: absolute !important;
  top: 45%;
  left: -20%;
  color: #737373;
  }
  h6 {
    position: absolute !important;
    top: 48%;
    left: -20%;
    color: #737373;
  }
}
.details {
  p {
  font-family: Manrope;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.0025em;
  color: #B6B9BF;
  }
}
