<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-md-4 details">
        <h1>Hear from our satisfied clients</h1>
        <p>They found workspaces that work for them, hear what they had to say about the experience</p>
      </div>
      <div class="col col-12 col-md-7">
        <div id="progress-circle-border">
        </div>
        <div class="progress-circle">
          <div class="testimonials">
            <div class="testimonial-1">
              <h4>ABHAY BATRA</h4>
              <h6>CLOVIA</h6>
              <p> I'm totally digging my experience with Stylework. It has given me an opportunity to get out of the
                house
                without renting an expensive office. I've had the opportunity to collaborate with a friend using the
                meeting
                room pass, and the flexibility to visit various locations around DelhiNCR. I also like that its
                monthly
                pass
                comes with no deposit or long-term commitment. </p>
            </div>
            <div class="testimonial-2">
              <h4>RAJ SHARMA</h4>
              <h6>DIGITAL VIDYA</h6>
              <p> I'm totally digging my experience with Stylework. It has given me an opportunity to get out of the
                house
                without renting an expensive office. I've had the opportunity to collaborate with a friend using the
                meeting
                room pass, and the flexibility to visit various locations around DelhiNCR. I also like that its
                monthly
                pass
                comes with no deposit or long-term commitment. </p>
            </div>
            <div class="testimonial-3">
              <h4>RAJ SHARMA</h4>
              <h6>DIGITAL VIDYA</h6>
              <p> I'm totally digging my experience with Stylework. It has given me an opportunity to get out of the
                house
                without renting an expensive office. I've had the opportunity to collaborate with a friend using the
                meeting
                room pass, and the flexibility to visit various locations around DelhiNCR. I also like that its
                monthly
                pass
                comes with no deposit or long-term commitment. </p>
            </div>
            <div class="testimonial-4">
              <h4>RAJ SHARMA</h4>
              <h6>DIGITAL VIDYA</h6>
              <p> I'm totally digging my experience with Stylework. It has given me an opportunity to get out of the
                house
                without renting an expensive office. I've had the opportunity to collaborate with a friend using the
                meeting
                room pass, and the flexibility to visit various locations around DelhiNCR. I also like that its
                monthly
                pass
                comes with no deposit or long-term commitment. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
