<div class="benefits">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="row cowork-crausel">
          <div class="col col-12">
            <div class="row">
              <div class="col col-10 col-md-4">
                <img src="../../../assets/images/Rectangle 29.png" class="cowork-img">
                <h2 class="mt-4">Sanitized and hygiene-maintained spaces</h2>
                <p>All our partner spaces follow a regimen of cleaning and sanitization, ensuring that every space and
                  touchpoint is clean and safe.</p>
                <a href="#">More about COVID-19 Measures</a>
                <img src="../../../assets/images/More.png" class="more">
              </div>
              <div class="col col-10 col-md-4">
                <img src="../../../assets/images/Rectangle 29.png" class="cowork-img">
                <h2 class="mt-4">Flexibility as your team grows</h2>
                <p>With multiple offerings and seating options you can extend and reduce your seating requirements
                  without
                  a
                  hassle.</p>
              </div>
              <div class="col col-10 col-md-4">
                <img src="../../../assets/images/Rectangle 29.png" class="cowork-img">
                <h2 class="mt-4">Community and collaborations</h2>
                <p>At coworking spaces, you’ll find a diverse set of people who’re out to change the world. The
                  coworking
                  space you’re at acts as an incubator for finding unique people with distinct thoughts.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-unconventional-benefits></app-unconventional-benefits>
  </div>
</div>
