.benefits  {
    background: url('../../../assets/images/Rectangle\ 33.png') no-repeat;
    background-size: cover;
    min-height: 2200px;
    color: #fff;
    padding-top: 50px;
    margin-top: 100px;
    .row {
      padding-top: 50px;
    }
    a {
      color: #FAB446;
    }
}
.cowork-crausel {
  .col {
  padding: 0px 40px;
    p {
      font-weight: 100;
    }
  }
}
.cowork-crausel .col:nth-child(1) {
  padding-left: 0 !important;
}
.cowork-crausel .col:nth-child(3) {
  padding-right: 0 !important;
}
.more {
  margin-left: 5px;
}
