.coworking {
  margin-top: 100px;
}
.cowork-crausel {
  h4 {
  margin-top: 10px;
  }
  p {
    font-size: 14px;
  }
}
:host ::ng-deep .sr-only {
  display: none;
}
:host ::ng-deep .carousel-control-next-icon {
  background-image: url("../../../assets/images/Next.png");
}
:host ::ng-deep .carousel-control-prev-icon {
  display: none;
}
:host ::ng-deep .carousel-control-next {
  display: none;
}
