<div class="container coworking">
  <div class="row">
    <div class="col col-4">
      <h1>Why opt for a co-working space?</h1>
      <p>It’s not just co-working. it’s way more than a desk. Getting a workspace should be hassle-free, and that’s what
        we aim to provide you!</p>
    </div>
    <div class="col col-8">
      <div class="row cowork-crausel">
        <div class="col col-4">
          <img src="../../../assets/images/rectangle.png" class="cowork-img">
          <h4>Zero set-up and maintenance costs</h4>
          <p>With a plug-and-play setup, we provide everything you would need from day one. Being a managed workspace,
            you won’t have to worry about the nitty-gritty of facility and/or maintenance management.</p>
        </div>
        <div class="col col-4">
          <img src="../../../assets/images/rectangle.png" class="cowork-img">
          <h4>Zero set-up and maintenance costs</h4>
          <p>With a plug-and-play setup, we provide everything you would need from day one. Being a managed workspace,
            you won’t have to worry about the nitty-gritty of facility and/or maintenance management.</p>
        </div>
        <div class="col col-4">
          <img src="../../../assets/images/rectangle.png" class="cowork-img">
          <h4>Zero set-up and maintenance costs</h4>
          <p>With a plug-and-play setup, we provide everything you would need from day one. Being a managed workspace,
            you won’t have to worry about the nitty-gritty of facility and/or maintenance management.</p>
        </div>
      </div>
    </div>
  </div>
</div>
