.selected-location {
  position: relative;
}
.fltr-loc {
  position: absolute;
  left: 10%;
  top: 10%;
}
.style-work-filters {
  h1 {
    font-weight: 100;
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 3rem;
  }
}
.map-view {
  label {
  margin: 0px 10px;
  }
}
