<app-banner></app-banner>
<app-style-work-stats></app-style-work-stats>
<app-why-co-working></app-why-co-working>
<app-style-work-benefits></app-style-work-benefits>

<div class="container-fluid part2">
  <div class="col-8 mx-auto">



    <div class="row explore">

      <div class="col-md-4">
        <h4><span style="color: #6C778C;">Explore our</span> current workspace offerings</h4>
      </div>

      <div class="col-md-4">
        <img src="‪‪">
        <img src="‪‪">
        <img src="‪‪">
        <img src="‪‪">
        <img src="‪‪">
        <img src="‪‪">
        <img src="‪‪">

      </div>

    </div>


    <div class="row place1" style="background-color : #EDF0F5;">
      <div>
        <img src="‪‪images1\japaneseblog.jfif">
        <span style="background-color: blue; color: white;">StyleSafe Sanitized Workspace</span>
        <span><h4>SW Golf Course Road</h4></span>

        <span><i class="fas fa-map-marker-alt"></i> Vyapar Kendra Road, Sector 40, Gurugram  &nbsp; &nbsp;  <i class="fas fa-clock"></i> 08:00 - 20:00   </span><br>

        <span><i class="fas fa-train"></i> Sec 54 Rapid Metro <b>(2 kms)</b></span><br>
        <br>

        <span><i class="fas fa-print"></i> printer/Scanner &nbsp; &nbsp; &nbsp; <i class="fas fa-receipt"></i>Reception &nbsp; &nbsp; &nbsp;   <i class="fas fa-wifi"></i>Wifi &nbsp; &nbsp; &nbsp; <a style="text-decoration: none; color: black;" href="">+5 More</a>  </span><br><br>

        <span><p>Desk from   &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  Cabin from   &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp; <button type="button" class="btn">Visit the Space</button><br> <span style="font-size: 23px;">₹6000</span>/month  &nbsp;  &nbsp; &nbsp;&nbsp;  &nbsp; <span style="font-size: 23px;">₹12000</span>/month </span>

      </div>
    </div>



    <div class="row place2" style="background-color : #EDF0F5;">
      <div>
        <img src="‪images1\japaneseblog.jfi">
        <span style="background-color: blue; color: white;">StyleSafe Sanitized Workspace</span>
        <span><h4>SW Golf Course Road</h4></span>

        <span><i class="fas fa-map-marker-alt"></i> Vyapar Kendra Road, Sector 40, Gurugram  &nbsp; &nbsp;  <i class="fas fa-clock"></i> 08:00 - 20:00   </span><br>

        <span><i class="fas fa-train"></i> Sec 54 Rapid Metro <b>(2 kms)</b></span><br>
        <br>

        <span><i class="fas fa-print"></i> printer/Scanner &nbsp; &nbsp; &nbsp; <i class="fas fa-receipt"></i>Reception &nbsp; &nbsp; &nbsp;   <i class="fas fa-wifi"></i>Wifi &nbsp; &nbsp; &nbsp; <a style="text-decoration: none; color: black;" href="">+5 More</a>  </span><br><br>

        <span><p>Desk from   &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  Cabin from   &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp; <button type="button" class="btn">Visit the Space</button><br> <span style="font-size: 23px;">₹6000</span>/month  &nbsp;  &nbsp; &nbsp;&nbsp;  &nbsp; <span style="font-size: 23px;">₹12000</span>/month </span>

      </div>
    </div>




    <div class="row place3" style="background-color : #EDF0F5;">
      <div>
        <img src="‪‪images1\japaneseblog.jfif">
        <span style="background-color: blue; color: white;">StyleSafe Sanitized Workspace</span>
        <span><h4>SW Golf Course Road</h4></span>

        <span><i class="fas fa-map-marker-alt"></i> Vyapar Kendra Road, Sector 40, Gurugram  &nbsp; &nbsp;  <i class="fas fa-clock"></i> 08:00 - 20:00   </span><br>

        <span><i class="fas fa-train"></i> Sec 54 Rapid Metro <b>(2 kms)</b></span><br>
        <br>

        <span><i class="fas fa-print"></i> printer/Scanner &nbsp; &nbsp; &nbsp; <i class="fas fa-receipt"></i>Reception &nbsp; &nbsp; &nbsp;   <i class="fas fa-wifi"></i>Wifi &nbsp; &nbsp; &nbsp; <a style="text-decoration: none; color: black;" href="">+5 More</a>  </span><br><br>

        <span><p>Desk from   &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  Cabin from   &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp; <button type="button" class="btn">Visit the Space</button><br> <span style="font-size: 23px;">₹6000</span>/month  &nbsp;  &nbsp; &nbsp;&nbsp;  &nbsp; <span style="font-size: 23px;">₹12000</span>/month </span>

      </div>
    </div>












  </div>
</div>

