<div class="get-started">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-md-7">
        <h1 class="detail-heading">Work <b>remotely</b> from <b>anywhere</b> with our <b>Flexible membership</b> plans
        </h1>
        <p>For ambitious companies who focus on productivity and desire a lexibility in their workspaces, Stylework
          makes
          it possible with easy-to- book membership plans tailored to your particular requirements.</p>
        <div class="row">
          <div class="col col-12 col-md-6">
            <ul>
              <li>
                <img src="../../../assets/images/Vector.png" alt="">
                Fixed/multilocational workspace access
              </li>
              <li>
                <img src="../../../assets/images/Vector.png" alt="">
                Fixed/multilocational workspace access
              </li>
            </ul>
          </div>
          <div class="col col-12 col-md-6">
            <ul>
              <li>
                <img src="../../../assets/images/Vector.png" alt="">
                Fixed/multilocational workspace access
              </li>
              <li>
                <img src="../../../assets/images/Vector.png" alt="">
                Fixed/multilocational workspace access
              </li>
            </ul>
          </div>
        </div>
        <button class="btn btn-primary get-started-btn">Get Started</button>
        <button class="btn btn-primary dwnld-btn"><img src="../../../assets/images/app-store.png" alt=""> <img
            src="../../../assets/images/play-store.png" alt="">Download Our App</button>
        <div class="row results">
          <div class="col col-12 col-md-4">
            <h1><b>80%</b></h1>
            <p>Of Employees considers telework as a job perk</p>
          </div>
          <div class="col col-12 col-md-4">
            <h1><b>45%</b></h1>
            <p>Of companies that allow telework has reduced attrition</p>
          </div>
          <div class="col col-12 col-md-4">
            <h1><b>95%</b></h1>
            <p>Of employers witness high employee retention</p>
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-5">
        <img src="../../../assets/images/Rectangle 90.png" alt="">
      </div>
    </div>
  </div>
</div>
