<ngb-carousel>
  <ng-template ngbSlide>
    <div class="cities d-flex mt-3 mb-5">
      <div class="c-img">
        <img src="assets/locationIcons/Delhi.png" alt="icon">
      </div>
      <div class="c-img">
        <img src="assets/locationIcons/Bengaluru.png" alt="icon">
      </div>
      <div class="c-img">
        <img src="assets/locationIcons/Hyderabad.png" alt="icon">
      </div>
      <div class="c-img">
        <img src="assets/locationIcons/Kolkata.png" alt="icon">
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="cities d-flex mt-3 mb-5">
      <div class="c-img">
        <img src="assets/locationIcons/Hyderabad.png" alt="icon">
      </div>
      <div class="c-img">
        <img src="assets/locationIcons/Bengaluru.png" alt="icon">
      </div>
      <div class="c-img">
        <img src="assets/locationIcons/Delhi.png" alt="icon">
      </div>
      <div class="c-img">
        <img src="assets/locationIcons/Kolkata.png" alt="icon">
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="cities d-flex mt-3 mb-5">
      <div class="c-img">
        <img src="assets/locationIcons/Delhi.png" alt="icon">
      </div>
      <div class="c-img">
        <img src="assets/locationIcons/Bengaluru.png" alt="icon">
      </div>
      <div class="c-img">
        <img src="assets/locationIcons/Hyderabad.png" alt="icon">
      </div>
      <div class="c-img">
        <img src="assets/locationIcons/Kolkata.png" alt="icon">
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="cities d-flex mt-3 mb-5">
      <div class="c-img">
        <img src="assets/locationIcons/Hyderabad.png" alt="icon">
      </div>
      <div class="c-img">
        <img src="assets/locationIcons/Bengaluru.png" alt="icon">
      </div>
      <div class="c-img">
        <img src="assets/locationIcons/Delhi.png" alt="icon">
      </div>
      <div class="c-img">
        <img src="assets/locationIcons/Kolkata.png" alt="icon">
      </div>
    </div>
  </ng-template>
</ngb-carousel>
