@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
$primary:#20847D;
$white:#fff;
body {
    font-family: 'Manrope', sans-serif;
    .container {
        max-width: 1200px;
    }
    a {
        color: $primary;
        text-decoration: none;
        transition: all 0.5s ease-in-out;
        &:hover {
            color: #186862;
        }
    }
    .dropdown-toggle::after {
        border: solid;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin-left: 0.3rem;
        top: 0px;
        position: relative;
    }
    .btn-primary {
        color: $white !important;
        background-color: $primary;
        border: none !important;
        &:hover {
            background-color: #186862;
        }
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1 {
  font-size: 40px !important;
  line-height: 1.5 !important;
  font-family: Manrope !important;
}
h2 {
  font-size: 24px !important;
  line-height: 1.5 !important;
  font-family: Manrope !important;
}
