<div class="info-banner pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5">
        <h1>Create your workspace for your <span>Business</span></h1>
        <div class="banner-tab border rounded">
          <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="explore-tab" data-bs-toggle="tab" data-bs-target="#explore"
                type="button" role="tab" aria-controls="explore" aria-selected="true">Explore Spaces</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="memberships-tab" data-bs-toggle="tab" data-bs-target="#memberships"
                type="button" role="tab" aria-controls="memberships" aria-selected="false">Flexible Memberships</button>
            </li>
          </ul>
          <div class="tab-content p-3" id="myTabContent">
            <div class="tab-pane fade show active" id="explore" role="tabpanel" aria-labelledby="explore-tab">
              <p>Explore the perfect workplace personalised to your needs across our <strong>500+</strong> locations</p>
              <form name="s">
                <div class="form-group d-flex border rounded ps-1 pe-1 pt-2 pb-2">
                  <input type="search" class="form-control border-0" placeholder="Where do you want to work at?">
                  <button type="submit" class="btn btn-primary d-flex align-items-center"><img
                      src="assets/icons/searchBtn.png" class="me-2" alt="icon"> Explore</button>
                </div>
              </form>
              <a class="mt-3 mb-4 d-table" href="#"><img src="assets/icons/locate-me.png" alt="icon" class="me-1"> Use
                my current location</a>
              <h6>Popular Cities to work at:</h6>
              <app-style-work-cities></app-style-work-cities>
              <p>Need customizable plans? Check our <a href="#">flexible memberships</a></p>
            </div>
            <div class="tab-pane fade" id="memberships" role="tabpanel" aria-labelledby="memberships-tab">
              <h4>Flexible Memberships</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-1"></div>
      <div class="col-12 col-md-6">
        <div class="banner-img">
          <div class="d-flex flex-column justify-content-evenly w-100">
            <div class="infotext">
              <img src="assets/icons/operated.svg" alt="icon" class="me-1">
              <h6>No operational hassles</h6>
              <ul>
                <li>Fully operated environment to save all your operational costs.</li>
                <li>Advanced safety and sanetisation practises to ensure a safe workplace.</li>
                <li>Extensive amenities to ensure a productive output.</li>
              </ul>
            </div>
            <div class="infotext ms-auto">
              <img src="assets/icons/flexibility.svg" alt="icon" class="me-1">
              <h6>Flexible, remote working</h6>
              <ul>
                <li>Fixed/multilocational workspace access</li>
                <li>Fully-customizable offerings (seats, employees, and many more)</li>
                <li>Hassle-free access control</li>
                <li>Offerings that suits your budget, or specific brands of your own choice</li>
              </ul>
            </div>
            <div class="infotext">
              <img src="assets/icons/operational-hassles.svg" alt="icon" class="me-1">
              <h6>Zero Liability</h6>
              <ul>
                <li>Hassle-free contraction & expansion of your workspace</li>
                <li>No Lock-in period</li>
                <li>Minimum security deposits </li>
              </ul>
            </div>
          </div>
          <img src="assets/images/landing_rectangle.png" class="w-100" alt="image">
        </div>
      </div>
    </div>
  </div>
</div>