<!-- <p>style-work-space works!</p> -->

<section class="work-space">
  <div class="container">
    <div class="row">
      <div class="col col-12 text-center">
        <h1 class="dark-0">Ready to get started?</h1>
        <h2>Change the way how you look for your workspace. Find your next</h2>
        <h2>workspace with us in easy, simple steps</h2>
      </div>
      <div class="col col-12 mt-5">
        <div class="position-relative">
          <div class="row justify-content-between">
            <div class="col col-4 zindex-999">
              <h5 class="f-18 dark-0 position-relative"> <span class="side-border">|</span> Get our flexible membership
                plan</h5>
              <p class="f-14 dark-10">Especially with COVID-19 and the rise of remote-working, Stylework is providing
                you with flexible membership
                plans where you can customise the duration, choose between fixed/multi-locational options, number of
                seats and
                many more, to specifically suit your needs.</p>
              <p>
                <span class="template-color">Get Started</span>
                <span class="forward-arrow">></span>
              </p>
              <p class="grey-txt">
                Bookings available only through our mobile app
              </p>
            </div>
            <div class="col col-4 zindex-999">
              <h5 class="f-18 dark-0 position-relative"> <span class="side-border">|</span>Explore workspaces</h5>
              <p class="f-14 dark-10">With more than 500 amenity-packed workspaces across India, you can choose one that
                suits your requirements. However, with Stylework, it’s more than just a workspace.</p>
              <p>
                <span class="template-color">Explore Spaces</span>
                <span class="forward-arrow">></span>
              </p>
              <p class="grey-txt">
                Available through our website and mobile app.
              </p>
            </div>
          </div>
          <div class="row mt-380 justify-content-between">
            <div class="col col-4 zindex-999">
              <h5 class="f-18 dark-0 position-relative"> <span class="side-border">|</span>Book your space</h5>
              <p class="f-14 dark-10">From an array of options starting from a day pass, to
                weekly/monthly/quarterly/annual plans, booking a workspace had never been easier. Browse through and
                compare multiple workspaces and choose the one that’s just right for you. As a helping hand, our
                representative will always be ready to assist you.</p>
              <p class="grey-txt">
                Bookings available through our mobile app.
              </p>
            </div>
            <div class="col col-4 zindex-999">
              <h5 class="f-18 dark-0 position-relative"> <span class="side-border">|</span>Book a free tour</h5>
              <p class="f-14 dark-10">Although we are trying to provide you a virtual tour through the pictures and
                videos, you can book a free tour and our officials will walk you through the spaces and explain all the
                amenities and protocols of working there. We’re always here to help you in making your decision about
                your next workspace.</p>
              <p class="grey-txt">
                You can book through both website and our mobile app
              </p>
            </div>
          </div>
          <div class="middle-box">

          </div>
        </div>


        <div class="row mt-4 justify-content-center">
          <div class="col col-4">
            <h5 class="f-18 dark-0 position-relative"> <span class="side-border">|</span>Get the best price</h5>
            <p class="f-14 dark-10">No matter what’s the size of your company, we are going to offer you the best price
              for your desired workspace. As we like to keep things transparent, there’s zero-brokerage involved. Also,
              we’ve a wide range of offers and promotions to help you get the best price for your next space.</p>
            <p class="grey-txt">
              Offers and promotions available through both website and mobile app.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
