.template-color{
    color: #20847D !important;
}
.work-space{
    margin-top: 71px;
}

.forward-arrow{
    border-radius: 50%;
    color: #20847D;
    border: 1px solive;
    background-color: #DDEFEE;
    margin-left: 10;
    margin-left: 8px;
    font-weight: 600;
    font-size: 20px;
    padding: 0px 5px;
}

.grey-txt{
    color: #B6BCC7;
    font-size: 10px;
}

.mt-380{
    margin-top: 380px;
}

.dark-0{
    color: #262D3D;
}

.dark-10{
    color: #455065;
}
.f-18{
   font-size: 18px !important;
}
.f-14{
   font-size: 14px !important;
}
.middle-box{
    left: 22%;
    position: absolute;
    background-color: #EDEFF3;
    height: 80%;
    width: 54%;
    top: 14%;
    opacity: 0.5;
}

.side-border{
    position: absolute;
    left: -15px;
    color: #20847D;
    font-size: 30px;
    top: -30%;
}


.zindex-999{
   z-index: 999;
}